/* colors defined at top for easy configuring */
/* colors defined at top for easy configuring */
@define-color background rgba(0, 0, 0, 1.0);        /* semi-transparent black */
@define-color second-background rgba(0, 0, 0, 0.25); /* lighter fade */
@define-color text #f29ff5;
@define-color text-charging #bbff78;
@define-color text-urgent #B05A5A;
@define-color borders #A0907A;
@define-color focused #f29ff5;
@define-color focused2 #BFAA80;
@define-color color1 #95f5e2;
@define-color color2 #95f5e2;
@define-color color3 #95f5e2;
@define-color urgent #B05A5A;

/* font declared */
* {
  font-family: "SFMono";  
  font-size: 11px;
  font-weight: 600
}

/* full bar */
window#waybar {
  color: @text;
  background-color: #111316;
  border: 1px solid @focused;
  border-radius: 2px;
}


/* workspace pannel */
#workspaces button {
  min-width: 0;
  padding: 0 8px 0 8px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}
#workspaces button.urgent {
  background-color: @urgent;
}



/* battery custom style*/
#clock{
  color: #111316;
  background-color: @text;
  font-size: 13px;
  font-weight: 600;
  padding: 0 10px 0 10px;
}

/* edge padding */
#temperature{
  padding: 0 0 0 10px;
}
#battery{
  padding: 0 14px 0 0;
}

/* default */
#temperature,
#pulseaudio,
#battery,
#cpu,
#memory,
#custom-nightmode,
#network{
  color: @text;
}

/* button hover */
#clock:hover,
#battery:hover,
#network:hover,
#custom-nightmode:hover,
#custom-powermode:hover,
#custom-brightness:hover,
#custom-mpris:hover,
#pulseaudio:hover{
  color: @text-charging
}


/* charging */
#battery.charging,
#battery.plugged {
  color: @text-charging;
}
#battery.critical:not(.charging) {
  color: @text-urgent;
  animation: blink 0.5s steps(12) infinite alternate;
}
@keyframes blink {
  to {
    background-color: @second-background;
    color: #111316;
  }
}

